@tailwind base;

/* a light theme */
.dockview-theme-light {
  --dv-group-view-background-color: theme("colors.white");
  --dv-activegroup-visiblepanel-tab-background-color: theme("colors.gray.100");
  --dv-inactivegroup-visiblepanel-tab-background-color: theme(
    "colors.gray.100"
  );
  --dv-inactivegroup-hiddenpanel-tab-background-color: theme("colors.gray.200");
  --dv-activegroup-hiddenpanel-tab-background-color: theme("colors.gray.200");
  --dv-tabs-and-actions-container-background-color: theme("colors.gray.200");
  --dv-tab-divider-color: theme("colors.gray.300");
  --dv-separator-border: theme("colors.gray.300");
}

/* list of dockview CSS variables */
/* https://unpkg.com/browse/dockview-core@1.7.6/dist/styles/dockview.css */
/* .dockview-theme-light {
  --dv-background-color: black;
  --dv-paneview-active-outline-color: dodgerblue;
  --dv-tabs-and-actions-container-font-size: 13px;
  --dv-tabs-and-actions-container-height: 35px;
  --dv-drag-over-background-color: rgba(83, 89, 93, 0.5);
  --dv-drag-over-border-color: white;
  --dv-tabs-container-scrollbar-color: #888;
  --dv-icon-hover-background-color: rgba(90, 93, 94, 0.31);
  --dv-group-view-background-color: white;
  --dv-tabs-and-actions-container-background-color: #f3f3f3;
  --dv-activegroup-visiblepanel-tab-background-color: white;
  --dv-activegroup-hiddenpanel-tab-background-color: #ececec;
  --dv-inactivegroup-visiblepanel-tab-background-color: white;
  --dv-inactivegroup-hiddenpanel-tab-background-color: #ececec;
  --dv-tab-divider-color: white;
  --dv-activegroup-visiblepanel-tab-color: rgb(51, 51, 51);
  --dv-activegroup-hiddenpanel-tab-color: rgba(51, 51, 51, 0.7);
  --dv-inactivegroup-visiblepanel-tab-color: rgba(51, 51, 51, 0.7);
  --dv-inactivegroup-hiddenpanel-tab-color: rgba(51, 51, 51, 0.35);
  --dv-separator-border: rgba(128, 128, 128, 0.35);
  --dv-paneview-header-border-color: rgb(51, 51, 51);
} */
