@tailwind base;

/* a dark, panoramic theme */
.panoramica-dark {
  --pan-primary-color: #d84c5a;
  --pan-secondary-color: #3c54b3;
  --pan-tertiary-color: #c354bf;

  background-color: theme("colors.gray.900");
  color: theme("colors.gray.200");
}
