@tailwind base;

/* ooooooOOooooOOOooo */
body.white-lotus {
  --pan-primary-color: #9cb06e;
  --pan-secondary-color: #506162;
  --pan-tertiary-color: #9f77c2;

  background-color: #f2f5ee;
  color: #404031;

  font-family: Comic Sans MS, Comic Sans, cursive;
}

.white-lotus .dockview-theme-light {
  --dv-group-view-background-color: #f2f5ee;

  --dv-activegroup-visiblepanel-tab-background-color: theme("colors.orange.50");
  --dv-inactivegroup-visiblepanel-tab-background-color: theme(
    "colors.orange.50"
  );
  --dv-inactivegroup-hiddenpanel-tab-background-color: theme(
    "colors.orange.100"
  );
  --dv-activegroup-hiddenpanel-tab-background-color: theme("colors.orange.100");
  --dv-tabs-and-actions-container-background-color: theme("colors.orange.100");
  --dv-tab-divider-color: theme("colors.amber.200");
  --dv-separator-border: theme("colors.amber.200");
}
