body .btn {
  @apply flex-1 py-2 px-4 whitespace-nowrap rounded-md outline-none select-none;

  @apply bg-tertiary;
  @apply text-white;
  @apply w-full sm:w-auto;
}

body .btn-light {
  @apply flex-1 py-2 px-4 whitespace-nowrap rounded-md outline-none select-none;

  @apply bg-gray-100 dark:bg-gray-700;
  @apply text-gray-800 dark:text-gray-100;
  @apply w-full sm:w-auto;
}

body textarea,
body input[type="text"],
body input[type="password"],
body input[type="search"],
body input[type="email"] {
  @apply px-2 py-2 w-full font-normal rounded outline-none;
  @apply text-gray-800 bg-gray-100 border border-gray-200;
}
