body .btn {
  @apply flex-1 py-2 px-4 whitespace-nowrap rounded-md outline-none select-none;

  @apply bg-tertiary;
  @apply opacity-90;
  @apply hover:opacity-100;
  @apply text-white;
  @apply w-full sm:w-auto;
}

body button[disabled] {
  @apply opacity-70;
  @apply hover:opacity-70;
  cursor: not-allowed;
}

body textarea,
body input[type="text"],
body input[type="password"],
body input[type="search"],
body input[type="email"] {
  @apply p-2 font-normal rounded-md outline-none;
  @apply w-full sm:w-auto;
  @apply text-sm text-gray-800 bg-gray-100 border border-gray-200;
}

body input[disabled],
body input[readonly] {
  @apply text-gray-900 dark:!bg-gray-300 bg-gray-200;
}

body select {
  @apply p-2 font-normal rounded-md outline-none;
  @apply w-full sm:w-auto;
  @apply text-sm text-gray-800 bg-gray-100 border border-gray-200;
}
