body .btn {
  @apply flex-1 py-2 px-4 whitespace-nowrap rounded-md outline-none select-none;

  @apply bg-secondary;
  @apply text-white;
  @apply w-full md:w-auto;
}

body textarea,
body input[type="text"],
body input[type="password"],
body input[type="search"],
body input[type="email"] {
  @apply px-2 py-2 w-full text-sm font-normal rounded outline-none;
  @apply text-gray-800 bg-gray-100 border border-gray-200;
  @apply w-full md:w-[];
}
