@tailwind base;
@tailwind utilities;
@tailwind components;

html,
body {
  overscroll-behavior: none;
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

/* Don't show the tab on the home view */
.groupview.locked-groupview .tabs-and-actions-container {
  display: none;
}

/* do some tweaking for different themes */
.dockview-theme-abyss,
.dockview-theme-dark {
  @apply text-white;
}

/* import dockview styles */
@import "../node_modules/dockview/dist/styles/dockview.css";

/* import form styles */
@import "./forms.css";

/* import conversation styles */
@import "./conversations.css";
