@tailwind base;
@tailwind components;
@tailwind utilities;

/* other classes applied in _document.js */
html,
body {
  overscroll-behavior: none;
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.prose p a,
.prose li a {
  @apply text-transparent bg-clip-text bg-gradient-to-br from-indigo-300 to-indigo-500;
}
.prose p a:hover,
.prose li a:hover,
a.active-link:hover {
  @apply text-transparent bg-clip-text bg-gradient-to-br from-indigo-200 to-indigo-500;
}

body .carousel.carousel-slider .control-arrow {
  @apply px-4;
}

.side-navigation-panel-select-option {
  @apply flex justify-between items-center py-1 w-full text-lg cursor-pointer;
}
.side-navigation-panel-select-option:hover {
  @apply text-indigo-700;
}
.side-navigation-panel-select-option-selected {
  @apply text-indigo-800;
}

.side-navigation-panel-select-inner {
  @apply pb-2;
}
.side-navigation-panel-select-inner-option {
  @apply flex justify-between items-center px-2 cursor-pointer;
}
.side-navigation-panel-select-inner-option-selected {
  @apply text-indigo-800;
}
.side-navigation-panel-select-inner-option:hover {
  @apply text-indigo-700;
}

.header-background {
  background: linear-gradient(90.12deg, #1e1449 0%, rgba(30, 20, 73, 0.15) 100%),
    #0f0a25;
}

svg .clickable {
  cursor: pointer;
}

.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* These four classes are necessary for the mobile-nav menu transition */
.mobile-nav-enter {
  display: hidden;
  opacity: 0;
  transform: translateY(-100%);
}
.mobile-nav-enter-active {
  display: block;
  opacity: 1;
  transform: translateX(0);
  transition: opacity 400ms, transform 400ms;
}
.mobile-nav-exit {
  display: block;
  transform: translateY(50%);
}
.mobile-nav-exit-active {
  display: block;
  transform: translateX(0);
  transition: display 400ms, transform 400ms;
}

/* for om 2023 */
#__next {
  @apply h-full;
}

.member-label {
  font-weight: 100;
  cursor: pointer;
}
.member-circle {
  cursor: pointer;
}

.axis text {
  font: 13px sans-serif;
}

.axis line,
.axis circle {
  fill: none;
  stroke: #459;
  stroke-dasharray: 4;
}

/* .axis:last-of-type circle { */
/* stroke: white; */
/* stroke-dasharray: none; */
/* } */

.btn {
  @apply py-1 px-2 text-sm font-semibold rounded;
}
.btn-slate {
  @apply text-white bg-slate-700;
}
.btn-slate:hover {
  @apply bg-slate-800;
}
.btn-purple {
  @apply text-white bg-purple-800;
}
.btn-purple:hover {
  @apply bg-purple-900;
}

.btn-pink {
  background-color: #ef04f3;
  @apply text-white;
}
.btn-pink:hover {
}

a.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

canvas {
  position: fixed;
  inset: 0;
  /* background: hsl(0, 0%, 15%); */
  background: #0f0a25;
  z-index: -1;
  height: 100vh;
  width: 100vw;
}
