@tailwind base;
@tailwind components;
@tailwind utilities;

/* other classes applied in _document.js */
html,
body {
  overscroll-behavior: none;
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.side-navigation-panel-select-option {
  @apply flex justify-between items-center py-1 w-full text-lg cursor-pointer;
}
.side-navigation-panel-select-option:hover {
  @apply text-indigo-700;
}
.side-navigation-panel-select-option-selected {
  @apply text-indigo-800;
}

.side-navigation-panel-select-inner {
  @apply pb-2;
}
.side-navigation-panel-select-inner-option {
  @apply flex justify-between items-center px-2 cursor-pointer;
}
.side-navigation-panel-select-inner-option-selected {
  @apply text-indigo-800;
}
.side-navigation-panel-select-inner-option:hover {
  @apply text-indigo-700;
}

.space-gradient {
  background: rgb(21, 13, 51, 1);
  background: radial-gradient(
    ellipse at 50% 45%,
    rgb(30, 20, 68) 0%,
    rgb(14, 7, 37) 100%
  );
}

svg .clickable {
  cursor: pointer;
}

/* These four classes are necessary for the mobile-nav menu transition */
.mobile-nav-enter {
  display: hidden;
  opacity: 0;
  transform: translateY(-100%);
}
.mobile-nav-enter-active {
  display: block;
  opacity: 1;
  transform: translateX(0);
  transition: opacity 400ms, transform 400ms;
}
.mobile-nav-exit {
  display: block;
  transform: translateY(50%);
}
.mobile-nav-exit-active {
  display: block;
  transform: translateX(0);
  transition: display 400ms, transform 400ms;
}

.btn {
  @apply py-1 px-2 text-sm font-semibold rounded;
}
.btn-slate {
  @apply text-white bg-slate-700;
}
.btn-slate:hover {
  @apply bg-slate-800;
}
.btn-purple {
  @apply text-white bg-purple-800;
}
.btn-purple:hover {
  @apply bg-purple-900;
}

.btn-pink {
  background-color: #ef04f3;
  @apply text-white;
}
.btn-pink:hover {
}

a.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

.slider-container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  position: relative;
  width: 100%;
}

.slider__track,
.slider__range,
.slider__left-value,
.slider__right-value {
  position: absolute;
}

.slider__track,
.slider__range {
  border-radius: 3px;
  height: 5px;
}

.slider__track {
  background-color: #ced4da;
  width: 100%;
  z-index: 1;
}

.slider__range {
  background-color: #4f46e5;
  z-index: 2;
}

.slider__left-value,
.slider__right-value {
  color: #dee2e6;
  font-size: 12px;
  margin-top: 20px;
}

.slider__left-value {
  left: 4px;
}

.slider__right-value {
  right: 0;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 90%;
  outline: none;
}

.thumb--zindex-3 {
  z-index: 3;
}

.thumb--zindex-4 {
  z-index: 4;
}

.thumb--zindex-5 {
  z-index: 5;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}
