/* these classes allow you to style based on the theme */
/* the mapping is a best guess to the closest dockview var */
/* body {
  --pan-color: var(--dv-activegroup-visiblepanel-tab-color);
  --pan-background-color: var(--dv-group-view-background-color);
  --pan-border-color: var(--dv-separator-border);
} */

/* .theme-color {
  color: var(--pan-color);
}
.theme-primary-color {
  color: var(--pan-primary-color);
}
.theme-secondary-color {
  color: var(--pan-secondary-color);
}
.theme-tertiary-color {
  color: var(--pan-tertiary-color);
}

.theme-background-color {
  background-color: var(--pan-background-color);
}
.theme-border-color {
  border-color: var(--pan-border-color);
}
.theme-border-color.theme-inverted {
  border-color: var(--pan-border-color);
}

.theme-inverted {
  background-color: var(--pan-color);
  border-color: var(--pan-background-color);
  color: var(--pan-background-color);
} */
